{% extends "base.html" %}
{% block body %}
{% load static %}
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white me-2">
      <i class="fa fa-file-text-o"></i>
    </span> Report 
  </h3> 
</div>

<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <!-- Report Form -->
      <form method="GET" class="text-center">
        <div class="row">
          <div class="col-md-6 text-start">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" name="start_date" value="{{ request.GET.start_date }}" id="start_date" class="form-control fs-6" required>
          </div>
          <div class="col-md-6 text-start">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" name="end_date" value="{{ request.GET.end_date }}" id="end_date" class="form-control fs-6" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Generate Report</button>
        <div>
          {% if students %}
          <a href="{% url 'generate_pdf_report' %}?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}" target="_blank" style="text-decoration: none; color: white;" class="btn btn-danger mt-3">
              Download PDF Report
          </a>
          {% else %}
          <div class="btn btn-danger mt-3">Data not available.</div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
{% if labels %}
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="clearfix">
          <h4 class="card-title float-start">Monthly Admissions</h4>
          <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
        </div>
        <canvas id="visit-sale-chart" class="mt-4"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="clearfix">
          <h4 class="card-title float-start">Course Admissions</h4>
          <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
        </div>
        <canvas id="course-count-chart" class="mt-4"></canvas>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="text-center">No student has taken admission.</div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Student Admission</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> Name </th>
                <th> Courses </th>
                <th> Phone </th>
                <th> Admission Date </th>
                <th> Birthday Date </th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
              <tr>
                <td>
                  {{student.firstname}} {{student.lastname}}
                </td>
                <td> {{student.courses}} </td>
                <!-- <td>
                  <label class="badge badge-gradient-success">DONE</label>
                </td> -->
                <td> {{student.phone}} </td>
                <td> {{student.created_at}} </td>
                <td> {{student.birthday}} </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="11" class="text-center">TNo student has taken admission.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const studentLabels = {{ labels| safe }};
  const studentCounts = {{ counts| safe }};
  const courseLabels = {{ course_labels| safe }};
  const courseCounts = {{ course_counts| safe }};
</script>
{% endblock body %}